.sidebar {
	width: 20rem;
	margin: 0;
	height: 100vh;
	padding: 1.5rem;
	overflow-y: auto;
	border-right: 1px solid #eaecef;
	position: sticky;
	top: 0;
	&__links {
		padding: 0 rem(12);
		margin: 0;
		font-weight: 400;
	}
	&__link {
		color: #2c3e50;
	}
	div {
		margin-top: rem(15);
		&:first-of-type {
			margin-top: 0;
		}
	}
  li {
    margin: 0;
		padding: rem(5) 0;
		position: relative;
		&.sidebar__item-secondary {
			padding: 0;
			&:before {
				content: none;
			}
		}
		> ul {
			display: none;
		}
    a {
			text-decoration: none;
			font-size: rem(15);
			position: relative;
      font-weight: 400;
			line-height: rem(21);
			left: 0;
			transition: .2s ease-in-out;
			&:hover, &:focus {
				left: 5px;
			}
			&:hover, &:focus, &.nuxt-link-active {
				color: #3eaf7c;
			}
			&.nuxt-link-active {
				&:hover, &:focus {
					&:before {
						left: rem(-41);
					}
				}
				&:before {
					content: '';
					transition: .2s ease-in-out;
					display: block;
					position: absolute;
					left: -2.25rem;
					top: rem(-5);
					width: 4px;
					height: calc(100% + 10px);
					background: #3eaf7c;
				}
				& + ul {
					display: flex;
					flex-direction: column;
					li a {
						&:before {
							content: none;
						}
					}
				}
			}
    }
	}

	h3 {
		position: relative;
		display: block;
		font-size: 1rem;
		margin-top: 0;
		margin-bottom: rem(8);
		font-weight: bold;
		cursor: pointer;
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
			width: rem(10);
			height: rem(10);
			background: #2c3e50;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: -2px;
			top: 0;
			width: rem(20);
			height: rem(13);
			background: white;
			// transition: .2s;
		}
		&.active {
			&:before {
				transform: translateY(0) rotate(45deg);
				background: #999
			}
			&:after {
				top: rem(19);
			}
		}
	}
}
