.sidebar {
	width: 20%;
	margin: 0;
	height: calc(100vh - 3.6rem);
	padding: 1.5rem;
	overflow-y: auto;
  border-right: 1px solid #eaecef;
	&__links {
		padding: 0 rem(12);
		margin: 0;
		font-weight: 400;
	}
	&__item {
		margin: 0.5rem 0;
		transition: 0.3s;
	}
	&__item:hover {
		transform: translateX(5px);
	}
	&__link {
		color: #2c3e50;
	}
	> .sidebar__link {
		display: block;
	}
	div {
		margin-top: rem(15);
		&:first-of-type {
			margin-top: 0;
		}
	}
  li {
    margin: 0;
    padding: rem(5) 0;
    a {
      font-size: rem(15);
      font-weight: 400;
			line-height: rem(21);
			&:hover, &:focus {
				color: #3eaf7c;
			}
    }
  }
}
