.sidebar {
	width: 20%;
	margin: 0;
	height: calc(100vh - 3.6rem);
	padding: 1.5rem;
	overflow-y: auto;
	border-right: 1px solid #eaecef;
	position: fixed;
	top: 3.6rem;
	&__links {
		padding: 0 rem(12);
		margin: 0;
		font-weight: 400;
	}
	&__item {
		margin: 0.5rem 0;
		transition: 0.3s;
	}
	&__item:hover {
		transform: translateX(5px);
	}
	&__link {
		color: #2c3e50;
	}
	> .sidebar__link {
		display: block;
	}
	div {
		margin-top: rem(15);
		&:first-of-type {
			margin-top: 0;
		}
	}
  li {
    margin: 0;
		padding: rem(5) 0;
		position: relative;
    a {
      font-size: rem(15);
      font-weight: 400;
			line-height: rem(21);
			&:hover, &:focus, &.nuxt-link-active {
				color: #3eaf7c;
			}
			&.nuxt-link-active {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -2.25rem;
					top: 0;
					width: 4px;
					height: 100%;
					background: #3eaf7c;
				}
			}
    }
	}

	h3 {
		position: relative;
		display: block;
		font-size: 1rem;
		margin-top: 0;
		margin-bottom: rem(8);
		font-weight: bold;
		cursor: pointer;
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
			width: rem(10);
			height: rem(10);
			background: #2c3e50;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: -2px;
			top: 0;
			width: rem(20);
			height: rem(13);
			background: white;
			// transition: .2s;
		}
		&.active {
			&:before {
				transform: translateY(0) rotate(45deg);
				background: #999
			}
			&:after {
				top: rem(19);
			}
		}
	}
}
