h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  &.sub {
    font-weight: 400;
  }
}

h1 {
  font-size: rem(35);
  font-weight: 600;
  line-height: 44px;
}

p code {
  padding: 0.25rem 0.5rem;
  background: rgba(27,31,35,0.05);
  color: #476582;
  border-radius: 3px;
}
section {
  .content {
    ul {
      list-style-type: disc;
      li {
        list-style: disc;
      }
    }
  }
}

a {
  text-decoration: underline;
  color: #2c3e50;
  &:hover, &:focus {
    color: #3eaf7c;
  }
}
li {
  list-style: none;
  code {
    background: rgba(27,31,35,0.05);
    color: #476582;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
  }
}

.code {
	position: relative;
	button {
		position: absolute;
		right: 1rem;
		top: rem(13);
		border: none;
		font-size: rem(16);
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
		color: #2c3e50;
		margin: 0;
		line-height: 1.25;
		font-weight: 500;
		padding: rem(5 10);
		background: white;
		cursor: pointer;
		border-radius: 0;
		z-index: 1;
	}
}